article{
    display: flex;
    flex-direction: column;
    border: 3px dotted black;
    width: 300px;
    justify-content: space-evenly;

}
article li{
    list-style-type: none;
}

article img{
    text-align: center;
}

article h4{
    text-align: center;
}
.topButtons{
    border: 3px dotted red;
    display: flex;
    justify-content: flex-end;
}

.headerContent{
    border: 3px dotted green;
    display: flex;
}

.typeContent{
    border: 3px dotted blue;
    display: flex;
    justify-content: space-evenly;
}


.aboutContent{
    border: 3px dotted grey;
}

.baseStatsContent{
    border: 3px dotted orange;
}
.bottomButtons{
    border: 3px dotted purple;

}