.pokemon-small-card{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--pokémon-border-color);
    flex: 1 1 250px;
    align-items: center;
    margin: 5px;
}

.btn-large-view{
    background-color: white;
    border: none;
}
.btn-large-view:hover{
    background-color: white;
    cursor: pointer
}

.pokemon-small-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
}

.card-header-info{
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-header-info h3{
    color: #d3d3d3;
}

.pokemon-small-card-content ul{
   list-style: none;
    display: flex;
}

.pokemon-small-card-content li{
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    color: white;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.stats-content li{
    color: black;
}

