.pokemon-small-card {
    display: flex;
    flex-direction: column;
    border: 8px solid var(--pokémon-grey-color);
    border-radius: 15px;
    box-shadow: 0 0 18px var(--pokémon-grey-color);;
    flex: 1 1 250px;
    align-items: center;
    margin: 5px;
    background-color: rgba(4, 244, 4, 0.2);
}

.fav-pokemon-small-card {
    display: flex;
    flex-direction: column;
    border: 8px solid var(--pokémon-yellow-color);
    box-shadow: 0 0 18px var(--pokémon-grey-color);;
    border-radius: 15px;
    flex: 1 1 250px;
    align-items: center;
    margin: 5px;
    background-color: rgba(4, 244, 4, 0.2);
}

.btn-large-view {
    background-color: transparent;
    border: none;
}

.btn-large-view:hover {
    background-color: transparent;
    cursor: pointer
}

.pokemon-small-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
}

.card-header-info {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.pokemon-small-card-content ul {
   list-style: none;
    display: flex;
}

.pokemon-large-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    padding: 35px 35px 0 35px;
}

.pokemon-large-card-content h4 {
    margin: 5px 0 5px 0;
}

.top-card-content {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 8px solid var(--pokémon-grey-color);
    box-shadow: 0 0 18px var(--pokémon-grey-color);;
    border-radius: 10px;
    background-color: rgba(4, 244, 4, 0.2);
}

.fav-top-card-content {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 8px solid var(--pokémon-yellow-color);
    box-shadow: 0 0 18px var(--pokémon-grey-color);;
    border-radius: 10px;
    background-color: rgba(4, 244, 4, 0.2);
}

.top-card-content img {
    display: flex;
    flex-basis: 150px;
}

.fav-top-card-content img {
    display: flex;
    flex-basis: 150px;
}

.large-card-info-content ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.large-card-header-info {
    display: flex;
    justify-content: space-between;
    min-width: 80%;
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.about-content ul {
    display: flex;
    justify-content: center;
}

.about-content li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 250px;
    padding: 16px;
    border: 2px solid var(--pokémon-grey-color);
}

.about-value {
    font-size: 16px;
    color: var(--pokémon-text-color);
}

.about-name {
    font-size: 12px;
    color: var(--pokémon-text-color);
}

.stats-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.stats-content li {
    text-transform: capitalize;
    display: flex;
    width: 250px;
    justify-content: space-between;
    border-bottom: 2px solid   var(--pokémon-grey-color);
}

.stat-value {
    font-weight: bold;
}

.ability-content ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ability-content li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid   var(--pokémon-grey-color);
}

.card-header-info button {
    position: relative;
    width: 36px;
    height: 60px;
}

.card-header-info button p {
    position: absolute;
    font-size: 25px;
    top: -4px;
    right: 5px;
}