.pokedex-page {
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: rgba(255, 69, 69, 0.3) ;
}

.info-content {
    margin-right: 30px;
    flex: 1;
    overflow-y: auto;
}

.pokemon-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 15px;
    flex: 1 1 250px;
    justify-content: center;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
}

.navigation-buttons button {
    width: 50px;
}