.pokedex-page{
    display: flex;
    flex: 1;
}
.info-content{
    flex: 1;
    margin-right: 30px;
}
.pokemon-tiles{
    display: flex;
    flex-wrap: wrap;
    gap: 15px 15px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    justify-content: center;
}

.navigation-buttons{
    display: flex;
    justify-content: center;
    }