.btn-fav {
    font-size: 30px;
    padding-top: 12px;
    background-color: var(--pokémon-type-electric-color);
    border: 1px solid var(--pokémon-type-electric-color);
    width: 325px;
    height: 150px;
    color: var(--pokémon-text-color);
}

.add-fav-content {
    display: flex;
    flex-direction: column;
}

.system-message {
    margin: 0;
}