.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(100deg,rgba(255, 204, 3, 1) 16%, rgba(53, 106, 188, 1) 100%);
}

.navBar-view-logged-in {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 600px;
    height: 60px;
}

.navBar-list-logged-in{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.navBar-view-logged-out {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 600px;
    height: 60px;
}
.navBar-list-logged-out{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}