.Pokéball {
    background-color: white;
    font-weight: 700;
    height: auto;
    width: auto;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    border-top:35px solid var(--pokémon-red-color);
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 35px solid var(--pokémon-grey-color);
    cursor: pointer;
    display: inline;
}
