.typeButton {
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--pokémon-type-fire-color);
    border-radius: 2px;
    border: none;
    color: white;
    cursor: pointer;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline;
}

