.background{
    position:fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.account-content-wrapper{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin-right: 500px;
}

.account-content{
    padding: 20px;
    border: 8px solid var(--pokémon-grey-color);
    border-radius: 15px;
    background-color: rgba(4, 244, 4, 0.5);
}

.user-details{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 130px;
    width: 500px;
}

.navigation-text-content{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}