.add-to-team form {
    display: flex;
    flex-direction: column;
}

.add-to-team select {
    font-weight: bold;
    width: 305px;
    padding: 5px 5px;
}

.btn-add-to-team {
    font-size: 30px;
    padding-bottom: 12px;
    width: 100%;
    min-height: 118px;
    border: 1px solid var(--pokémon-type-water-color);
    background-color: var(--pokémon-type-water-color);
    color: var(--pokémon-white-color);
}

.form-message {
    margin: 0;
}