@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --pokémon-red-color: #D43A20;
  --pokémon-white-color: #F7F7F7;
  --pokémon-yellow-color: #FFF447;
  --pokémon-green-color: #74DE33;
  --pokémon-blue-color: #00FFFF;
  --pokémon-grey-color: #BDBDBD ;
  --pokémon-border-color: #000000;
  --pokémon-text-color: #000000;
  --pokémon-button-radius: 4px;
  --pokémon-button-background-color: var(--pokémon-grey-color);
/*hier nog toevoegen, de types en de bij behorende kleuren van die types. dit worden ook de achtergronden van de pokémons.*/
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

button, input, select, textarea {
  font-family: inherit;
}

button:hover {
  background-color: var(--pokémon-button-background-color);
}




