@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --pokémon-red-color: #D43A20;
  --pokémon-white-color: #F7F7F7;
  --pokémon-yellow-color: #FFF447;
  --pokémon-green-color: #74DE33;
  --pokémon-blue-color: #00FFFF;
  --pokémon-grey-color: #BDBDBD ;
  --pokémon-border-color: #000000;
  --pokémon-text-color: #000000;
  --pokémon-button-radius: 4px;
  --pokémon-button-background-color: var(--pokémon-grey-color);
  --pokémon-type-bug-color: #A7B723;
  --pokémon-type-dark-color: #75574C;
  --pokémon-type-dragon-color: #7037FF;
  --pokémon-type-electric-color: #F9CF30;
  --pokémon-type-fairy-color: #E69EAC;
  --pokémon-type-fighting-color: #C12239;
  --pokémon-type-fire-color: #F57D31;
  --pokémon-type-flying-color: #A891EC;
  --pokémon-type-ghost-color: #70559B;
  --pokémon-type-normal-color: #AAA67F;
  --pokémon-type-grass-color: #74CB48;
  --pokémon-type-ground-color: #DEC16B;
  --pokémon-type-ice-color: #9AD6DF;
  --pokémon-type-poison-color: #A43E9E;
  --pokémon-type-psychic-color: #FB5584;
  --pokémon-type-rock-color: #B69E31;
  --pokémon-type-steel-color: #B7B9D0;
  --pokémon-type-water-color: #6493EB;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

button, input, select, textarea {
  font-family: inherit;
}

button:hover {
  background-color: var(--pokémon-red-color);
}

button:disabled{
  cursor: not-allowed;
  background-color: var(--pokémon-grey-color);
}

.bug{
  background-color: var(--pokémon-type-bug-color);
}
.dark{
  background-color: var(--pokémon-type-dark-color);
}
.dragon{
  background-color: var(--pokémon-type-dragon-color);
}
.electric{
  background-color: var(--pokémon-type-electric-color);
}
.fairy{
  background-color: var(--pokémon-type-fairy-color);
}
.fighting{
  background-color: var(--pokémon-type-fighting-color);
}
.fire{
  background-color: var(--pokémon-type-fire-color)
}
.flying{
  background-color: var(--pokémon-type-flying-color);
}
.ghost{
  background-color: var(--pokémon-type-ghost-color);
}
.grass{
  background-color: var(--pokémon-type-grass-color);
}
.ground{
  background-color: var(--pokémon-type-ground-color);
}
.ice{
  background-color: var(--pokémon-type-ice-color);
}
.poison{
  background-color: var(--pokémon-type-poison-color);
}
.psychic{
  background-color: var(--pokémon-type-psychic-color);
}
.rock{
  background-color: var(--pokémon-type-rock-color);
}
.steel{
  background-color: var(--pokémon-type-steel-color);
}
.water{
  background-color: var(--pokémon-type-water-color);
}
.normal{
  background-color:var(--pokémon-type-normal-color);
}






