.generation-filter {
    display: flex;
    justify-content: space-between;

}

.generation-filter select {
    text-transform: capitalize;
    font-size: 18px;
    height: 30px;
    margin: 22px 0 0 0;
}

.generation-filter button {
    font-size: 18px;
}